@font-face {
  font-family: 'ProximaNova';
  src: url('#{$pathToFonts}2DAEF1_0_0.eot');
  src: url('#{$pathToFonts}2DAEF1_0_0.eot?#iefix') format('embedded-opentype'), url('#{$pathToFonts}2DAEF1_0_0.woff2') format('woff2'), url('#{$pathToFonts}2DAEF1_0_0.woff') format('woff'), url('#{$pathToFonts}2DAEF1_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$pathToFonts}2DAEF1_1_0.eot');
  src: url('#{$pathToFonts}2DAEF1_1_0.eot?#iefix') format('embedded-opentype'), url('#{$pathToFonts}2DAEF1_1_0.woff2') format('woff2'), url('#{$pathToFonts}2DAEF1_1_0.woff') format('woff'), url('#{$pathToFonts}2DAEF1_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$pathToFonts}2DAEF1_2_0.eot');
  src: url('#{$pathToFonts}2DAEF1_2_0.eot?#iefix') format('embedded-opentype'), url('#{$pathToFonts}2DAEF1_2_0.woff2') format('woff2'), url('#{$pathToFonts}2DAEF1_2_0.woff') format('woff'), url('#{$pathToFonts}2DAEF1_2_0.ttf') format('truetype');
  font-weight: normal;
  //font-style: normal;
}

//@font-face {
//  font-family: 'ProximaNova';
//  src: url('#{$pathToFonts}2FC678_0_0.eot');
//  src: url('#{$pathToFonts}2FC678_0_0.eot?#iefix') format('embedded-opentype'), url('#{$pathToFonts}2FC678_0_0.woff2') format('woff2'), url('#{$pathToFonts}2FC678_0_0.woff') format('woff'), url('#{$pathToFonts}2FC678_0_0.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'ProximaNova';
//  src: url('#{$pathToFonts}2FC678_1_0.eot');
//  src: url('#{$pathToFonts}2FC678_1_0.eot?#iefix') format('embedded-opentype'), url('#{$pathToFonts}2FC678_1_0.woff2') format('woff2'), url('#{$pathToFonts}2FC678_1_0.woff') format('woff'), url('#{$pathToFonts}2FC678_1_0.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'ProximaNova';
//  src: url('#{$pathToFonts}2FC678_2_0.eot');
//  src: url('#{$pathToFonts}2FC678_2_0.eot?#iefix') format('embedded-opentype'), url('#{$pathToFonts}2FC678_2_0.woff2') format('woff2'), url('#{$pathToFonts}2FC678_2_0.woff') format('woff'), url('#{$pathToFonts}2FC678_2_0.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//}
