@import "icons";
@import "mixins";

.header-bar {
  background: white;
  width: 100%;
  .header-bar-menu {
    min-height: 20px;
  }
  .header-bar-menu {
    position: relative;
    &:last-child li {
      //border-left: 1px solid $gray-light;
      &:after {
        content: "|";
        position: absolute;
        top: 3px;
        right: 0;
        color: $brand-primary;
      }
    }
    li {
      margin: 0;
      &.current-menu-item a, a:hover {
        color: $brand-primary;
      }
    }
  }
  .menu-contact-menu-container, .menu-contact-menu-english-container {
    .header-bar-menu li {
      padding-right: 30px;
      border: none;
    }
  }
  .header-bar-menu {
    list-style: none;
    margin: 10px 0;
    padding: 0 10px;
    li {
      padding: 2px 7px;
      float: left;
      a {
        @extend .small;
      }
    }
  }

  .header-bar-menu:first-child {
    margin-right: -10px;
  }
}

.header-bar, header {
  a {
    font-family: $font-primary;
    color: $gray-light;
    &:hover, &:focus {
      text-decoration: none;
      background: none;
      color: white;
    }
  }
}
.header {
  background-color: white;
  height: 100px;
  position: relative;
  z-index: 1000;
}
header.navbar {
  margin-bottom: 10px;
  border: none;
  .navbar-header {
    position: relative;
    margin-top: 10px;
    margin-left: -2px;
    a {
      text-indent: -10000px;
    }

    @media (max-width: $screen-md-min) {
      margin-bottom: 0;
    }
    & > .navbar-brand {
      position: absolute;
      z-index: 10000;
      &, &:hover {
        @extend .logo-icon;
        @media (max-width: 375px) {
          width: 140px;
        }
      }

    }
  }
  .navbar-toggle {
    margin: 35px 0 0 0;
  }
  .icon-bar {
    background-color: $gray-darker;
  }
}

.sub-navbar {
  font-size: 16px;
  padding-right: 0;
  margin-top: 0;
  margin-right: -10px;

  @media (min-width: $screen-sm) {
    margin-top: 37px;
    float: right;
  }

  @media (max-width: $screen-xs-max) {
    &.navbar-collapse {
      margin-top: 0;
      padding-left: 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    background: white;
    margin: 0 -15px 0 -20px;
  }
  @media (max-width: $screen-xs-max) {
    -webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 7px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 7px 10px 0px rgba(50, 50, 50, 0.5);
  }
  .nav {
    @media (max-width: $screen-sm-min) {
      margin-right: 0;
    }
    & > li {
      a {
        @extend .basic_menu;
        &:after {
          content: '';
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -2px;
          background-color: $brand-primary;
          @media (max-width: $screen-sm-min) {
            display: none;
          }
        }
      }
      &:last-child a:after {
        display: none;
      }
      &.active a, & a:hover, & a:focus, &.current-page-ancestor a, &.current_page_parent a, &.current-menu-item a {
        background: none;
        color: $brand-primary;
      }
      //&.active, &.current-page-ancestor, &.current_page_parent, &.current-menu-item {
      //  &:after {
      //    content: '';
      //    display: block;
      //    width: 80%;
      //    margin-left: 10%;
      //    height: 1px;
      //    border-bottom: 2px solid $gray;
      //    @media (max-width: $screen-sm-min) {
      //      display: none;
      //    }
      //  }
      //}
      @media (max-width: $screen-sm-min) {
        text-align: right;
        padding-right: 15px;
        &.active {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
.navbar-collapse {
  overflow-x: hidden;
}
