.preloader, .landing, .chapter, .video-player, .archive, .video-player-compact, .video-player-compact-documentary {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &.hidden {
    position: relative;
    top: 100%;
  }
  &.visible {
    position: absolute;
    top: 0;
    opacity: 1;
  }
}
.preloader {
  &.hidden {
    opacity: 1;
    top: 0;
    canvas {
      transform: scale(0, 0);
      opacity: 0;
    }
  }
  &.visible {
    canvas {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
}
.chapter {
  &.hidden {
    header {
      opacity: 0;
    }
    .bg {
      transform: scale(1, 1);
    }
  }
  &.visible {
    header {
      opacity: 1;
    }
    .bg {
      transform: scale(2, 2) translate(0, 0);
    }
  }
}
.landing {
  &.visible {
    transition-delay: .4s;
    .intro-buttons {
      transform: translate(0, 0);
    }
  }
  &.hidden {
    .intro-buttons {
      transform: translate(0, 150px);
    }
  }
}
.archive, .video-player-compact, .video-player-compact-documentary {
  opacity: 1;
  &.hidden {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translate(0, 100%) scale(.9,.9);
    &.slide-up {
      opacity: 1;
      transform: translate(0, -100%) scale(1,1);
    }
    &.slide-down {
      opacity: 1;
      transform: translate(0, 100%) scale(1,1);
    }
  }
  &.visible {
    transform: translate(0, 0);
    opacity: 1;
    &.slide-up, &.slide-down {
      position: absolute;
      top: 0;
      opacity: 1;
      transform: translate(0, 0) scale(1,1);
    }
  }
}
