@import "fonts";
$font-primary: "ProximaNova", Arial, 'sans-serif';
$font-secondary: "ProximaNova", Arial, 'sans-serif';
$border-radius-base: 0;
$border-radius-large: 0;
$container-large-desktop: 1140px;
$popover-border-color: #fff;

$input-border-focus: $brand-primary;
//select2
$results-choice-bg-hover-color: $brand-primary;
$container-focus-border-color: $brand-primary;
$focus-border-color: $brand-primary;

$state-success-text: $brand-primary;
