footer
  .container
    .col-md-12
      ul.social-menu
        li
          a(href="#")
            .glyphicon.facebook-icon
        li
          a(href="#")
            .glyphicon.twitter-icon
        li
          a(href="#")
            .glyphicon.google-plus-icon
      p © 2015 #{brandName}
      ul.footer-menu
        li
          a(href="#") terms & conditions of use
        li
          a(href="#") privacy policy
script(type="text/javascript", src="assets/js/main.js" async)
