title=pageTitle
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
//link(rel="icon" type="image/png" href="favicon.png")
link(type="text/css" rel="stylesheet" href="assets/css/main.css")
script.
  var SUCCESS_SOUND="assets/sounds/success.mp3";var JSON_FILE="assets/json/el.json";(function() { document.addEventListener("DOMContentLoaded", function() { var u = document.querySelectorAll(".navbar-nav a, h2, .uppercase"); for (var i = 0, l = u.length; i < l; i++) { u[i].innerHTML = getAccText(u[i].innerHTML); } function getAccText(t) { t = t.replace(/Ά/g, "Α");t = t.replace(/ά/g, "α");t = t.replace(/Έ/g, "Ε");t = t.replace(/έ/g, "ε");t = t.replace(/Ή/g, "Η");t = t.replace(/ή/g, "η");t = t.replace(/Ί/g, "Ι");t = t.replace(/Ϊ/g, "Ι");t = t.replace(/ί/g, "ι");t = t.replace(/ϊ/g, "ι");t = t.replace(/ΐ/g, "ι");t = t.replace(/Ό/g, "Ο");t = t.replace(/ό/g, "ο");t = t.replace(/Ύ/g, "Υ");t = t.replace(/Ϋ/g, "Υ");t = t.replace(/ύ/g, "υ");t = t.replace(/ϋ/g, "υ");t = t.replace(/ΰ/g, "υ");t = t.replace(/Ώ/g, "Ω");t = t.replace(/ώ/g, "ω"); return t; } }); }());
