.dropdown.pull-left
  a#shareMenu1(href="#" data-toggle="dropdown" aria-expanded="true").share-menu Share <span class="glyphicon share-icon"></span>
  ul(class="dropdown-menu" role="menu" aria-labelledby="shareMenu1")
    li(role="presentation")
      a(role="menuitem" tabindex="-1" href="#") Facebook
    li(role="presentation")
      a(role="menuitem" tabindex="-1" href="#") Twitter
    li(role="presentation")
      a(role="menuitem" tabindex="-1" href="#") Google+
