include mixins/modal
- var mainMenuActiveIndex = -1;
- var brandName = locals.data.title;
- var pageTitle = brandName;
- var letters = locals.data.letters
- var IMAGE_PATH = "assets/images/";
- var acc = locals.acc;
doctype html
html
  head
    include partials/header
  body
    .pages
      .home.page.active
        include pages/home
      .quiz.page(data-end-game-message=locals.data["end-game-message"])
        include pages/quiz

    +modal({showFooterCloseButton:false, showCloseButton:true, showTitle:false, id:"errorModal", saveButtonClass:"btn-danger", saveButtonLabel:locals.data["error-button-label"]})
    +modal({showFooterCloseButton:false, keyboard:"false", backdrop:"static", showCloseButton:false, showTitle:false, id:"successModal", saveButtonLabel:locals.data["next-question-button-label"]})
    +modal({showFooterCloseButton:false, keyboard:"false", backdrop:"static",showCloseButton:false, showTitle:false, id:"finishModal", saveButtonLabel:locals.data["restart-game-button-label"]})
    script(type="text/javascript", src="assets/js/main.js" async)
