mixin button-dropdown (options)
  - var options = options || {};
  - var label = options.label || 'Action';
  - var className = options.className || 'btn-default';
  - var menuItems = options.menuItems || [];

  .dropdown
    button.dropdown-toggle(type="button", class="btn #{className}", data-toggle="dropdown")= label
    span.caret

    ul.dropdown-menu(role="menu")
      each item in menuItems
        li
          a(href="#")= item
